.box{
    /* absolute  top-[5%] left-[5%]  w-[90%] h-[90%] border-[5px] bg-transparent text-white border-white */
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: 5px solid white;
    background-color: transparent;
    color: white;
    pointer-events: none;

    
}
.box:hover{
    border-color: black;
}
.check-btn{
    /* mx-6 cursor-pointer  absolute bottom-[8%]   */
    margin: 0 24px;
    cursor: pointer;
    position: absolute;
    bottom: 8%;
    pointer-events: auto;
}
.line{
    /* w-[35px] absolute top-[10px]  ml-[5px] h-[4px] bg-white */
    width: 35px;
    position: absolute;
    top: 10px;
    margin-left: 5px;
    height: 4px;
    background-color: white;
}