.btn{
    padding: 10px 24px;
    background-color: #F09522;
    border-radius: 3px;
    color: white;
    transition: .3s;
}
.btn:hover{
    background-color: white;
    color: #F09522;
    border:2px solid #F09522;
}
